* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --background:#000430;
    --secondaryBackground:#171c48;
    --text:#fff;
    --purple:#828dff;
    --teal:#24feee;
}

body {
    background: var(--background);
    color: var(--text);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 120px auto 0 auto;
    max-width: 500px;
}

.stats-container{
    padding: 30px;
    border-radius: 30px;
    border: 1px solid var(--purple);
    display: flex;
    justify-content: space-between;
    gap:50px;
    width: 100%;
}

.details{
    width: 100%;
}

#progressBar {
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 10px;
    margin-top: 20px;
}

#progress{
    width:0%;
    height: 100%;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all 0.3s ease;
}
#numbers{
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}

form {
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;
}
input{
    flex:1;
    padding: 10px;
    background-color: var(--secondaryBackground);
    border: 1px solid var(--purple);
    color: var(--text);
    border-radius: 10px;
    outline: none;
}

button{
    padding: 16px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: var(--text);
    font-size: 20px;
    font-weight: bold;
    outline: none;



}

.task-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}

.taskItem{
    width: 100%;
    display: flex;
    background-color: var(--secondaryBackground);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.completed p {
    text-decoration: line-through;
    color: var(--teal);
}

.taskItem img {
    width:24px;
    height: 24px;
    cursor: pointer;
    margin: 0 10px;
}

.task{
    display: flex;
    align-items: center;
    gap: 10px;
}
.task input {
    width: 20px;
    height: 20px;
}




/* Toggle to darkmode */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 20px;
  border-radius: 34px;
  background-color: var(--secondaryBackground);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 34px;
  border: 1px solid var(--purple);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
  font-size: 14px;
  color: var(--text);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--purple);
  transition: 0.4s;
  border-radius: 50%;
  z-index: 1;
}

.slider .icon {
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  margin-left: 3px;
}

/* When checked, move the purple circle */
input:checked + .slider {
  background-color: var(--background);
}

input:checked + .slider:before {
  transform: translateX(26px);
}
