* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --background:#000430;
    --secondaryBackground:#171c48;
    --text:#fff;
    --purple:#828dff;
    --teal:#24feee;
}

body {
    background: var(--background);
    color: var(--text);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 120px auto 0 auto;
    max-width: 500px;
}

.stats-container{
    padding: 30px;
    border-radius: 30px;
    border: 1px solid var(--purple);
    display: flex;
    justify-content: space-between;
    gap:50px;
    width: 100%;
}

.details{
    width: 100%;
}

#progressBar {
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 10px;
    margin-top: 20px;
}

#progress{
    width:80%;
    height: 100%;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all 0.3s ease;
}
#numbers{
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}

form {
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;
}
input{
    flex:1;
    padding: 10px;
    background-color: var(--secondaryBackground);
    border: 1px solid var(--purple);
    color: var(--text);
    border-radius: 10px;
    outline: none;
}

button{
    padding: 16px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: var(--text);
    font-size: 20px;
    font-weight: bold;
    outline: none;



}